@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("ttf"),
    url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot");
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova/ProximaNova-SemiBold.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-SemiBold.ttf") format("ttf"),
    url("../fonts/ProximaNova/ProximaNova-SemiBold.eot") format("eot");
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("ttf"),
    url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot");
    font-weight: 500;
}

body {
    padding-top: 66px;
}

button:focus {
    outline: none;
}

.logo {
    width: 25px;
    margin: -5px 10px 0;
}

.navbar {
    background-color: white;
}

.navbar-toggler img {
    width: 25px;
}

label {
	font-family: ProximaNova, sans-serif;
    font-weight: 700;
}

.navbar-brand {
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #3a3a3a;
}

.nav-link {
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #b4bbc8;
    padding: 8px 20px;
    margin: 0 20px;
    text-align: center;
}

.nav-link:hover{
	color:#30c6c6;
}


.navbar-nav{
	position: relative;
}

.nav-button {
	position: relative;
	border-radius: 3px;
	background-color: #fff;
	color: #3a3a3a;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding: 8px 20px;
    margin: 0 20px;
	border: solid 1px #3a3a3a;
	text-decoration: none;
}

.nav-button:hover {
	
	color:#30c6c6;
	border: solid 1px #30c6c6;
	text-decoration: none;
}

.nav-button {
	display: block;
}

.collapse .nav-button {
	display: none;
}

h1 {
    margin-top: 115px;
    font-family: ProximaNova, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #3a3a3a;
}

.hero {
	position: relative;
}

.hero .container{
	z-index: 10;
}

.hero h4 {
    margin-top: 33px;
    font-family: ProximaNova, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a3a3a;
}



.hero h4 img {
    width: 30px;
    margin-right: 16px;
    margin-top: -5px;
}


.hero .heropic{
	padding: 0px 15px 0px 0px;
}

.hero .heropic img{
	margin-top: 80px;
}

.hero button {
    border-radius: 6px;
    background-color: #30c6c6;
    border: solid 1.5px #30c6c6;
    box-shadow: 0 0 20px 0 rgba(125, 135, 159, 0.3);
    outline: none;
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 15px 40px;
    margin: 72px 0;
}

section.padding {
    padding: 45px 0;
}

section.values {
    background-color: #f6f8fe;
}

section.values .mobile{
	display: none;
}

section.values .desktop{
	display: block;
}

section.conditions {
	margin-top: 45px;
	background-color: #3a3a3a;
}

section.conditions .heading{
	color:#fff;
}

section.conditions .container{
	margin-top: 40px;
}

section.conditions span{
	font-size: 18px;
	color:#fff;
}

section.conditions .price{
	display: inline-block;
	padding: 40px 47px;
	background-color: rgba(216, 216, 216, 0.15);
	border-radius: 6px;
}

section.conditions li{
	list-style-type: none;
	color:#fff;
	font-size: 24px;
	margin:15px 0px;
	
}

section.conditions li::before{
    content: "\2713 ";
    padding-right: 16px;
	color: #30c6c6;
}

section.conditions .price ul{
	padding: 0px;
}

section.conditions .price li{
	font-size: 18px;
	list-style-type: none;
	
}

section.conditions .price li::before{
	color: #30c6c6;
	padding-right: 16px;
	content: "•";
}

section.conditions button{
	border-radius: 6px;
    background-color: #30c6c6;
    border: solid 1.5px #30c6c6;
    box-shadow: 0 0 20px 0 rgba(125, 135, 159, 0.3);
    outline: none;
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 15px 40px;
    margin: 24px 0;
}

section.connect{
	background-color: #f6f8fe;
}


section.connect .join{
	background-color: #fff;
	padding
}

section.connect .check_container{
	display: flex;
	flex-wrap: wrap;
}
 
section.connect .check_container .ProgramCheck{
	display: block;
	width: 33%;
	position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.connect .check_container .ProgramCheck input {
    opacity: 0;
    cursor: pointer;
}

section.connect .check_container .ProgramCheck .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.check_container .ProgramCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.check_container .ProgramCheck input:checked ~ .checkmark {
    background-color: #30c6c6;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
section.connect .check_container .ProgramCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
section.connect .check_container .ProgramCheck .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.heading {
    text-align: center;
}

.heading h2 {
    font-family: ProximaNova, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.stagesRow {
    padding-right: 125px;
    margin: 36px 0;
}

.stagesRow.reverse {
    padding-right: 0;
    padding-left: 125px;
}

.stage {
    width: 30%;
    margin-right: 72px;
    padding: 32px 24px;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
}

.stage:last-of-type {
    margin-right: 0px;
}

.stage .number {
    font-family: ProximaNova, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #30c6c6;
    margin-bottom: 16px;
}

.stage h5 {
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 24px;
}

.stage p {
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #b4bbc8;
    margin-bottom: 17px;
}

section.whatYouGet .plate {
    border-radius: 10px;
    background-color: #30c6c6;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
    padding: 32px 30px;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

section.whatYouGet .plate:first-of-type {
    margin-top: 16px;
}

section.whatYouGet .plate img {
    width: 100px;
    margin-bottom: 16px;
}

section.whatYouGet .plate h5 {
    color: white;
    font-family: ProximaNova, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.46;

}

section.studyPrograms .plate {
    margin: auto;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(125, 135, 159, 0.15);
    margin-top: 32px;
}

section.studyPrograms .plate img {
    width: 100%;
}

section.studyPrograms .plate .plate-body {
    padding: 24px;
}

section.studyPrograms .plate h5 {
    font-family: ProximaNova, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #3a3a3a;
    margin-bottom: 8px;
}

section.studyPrograms .plate p {
    font-family: ProximaNova, sans-serif;
  font-size: 18px;
    font-weight: 500
    color: #b4bbc8;
    margin-bottom: 36px;
}

section.studyPrograms .plate button {
    padding: 8px 20px;
     font-family: ProximaNova, sans-serif;
  font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
  color: #30c6c6;
  background: transparent;
    border-radius: 3px;
    border: solid 1.5px #30c6c6;
}


section.connect .join{
	padding: 47px;
	border-radius: 10px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
}






section.connect .connectInfo{
	padding: 47px;
	
}

section.connect .connectInfo img{
	margin-right: 10px;
	
}

section.connect .connectInfo span{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

section.connect .connectInfo name{
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}

section.connect .connectInfo .add{
	margin-top: 20px;
}

section.connect .social_networks{
	width: auto;
/* 	border: solid 1px #3a3a3a; */
/* 	border-radius: 3px; */
/* 	width: 24px; */
}



/*
section.connect .name{
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
*/

section.connect .inputs{
	margin-top: 20px;
}


section.connect .directions_checkbox{
	margin-top: 14px;
	
}

section.connect .directions_checkbox span:first-child{
	font-size: 15px;
	color:#b4bbc8;
	display: block;
	margin-bottom: 10px;
}



section.connect button {
    border-radius: 6px;
    background-color: #30c6c6;
    border: solid 1.5px #30c6c6;
    box-shadow: 0 0 20px 0 rgba(125, 135, 159, 0.3);
    outline: none;
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 15px 40px;
    margin: 40px 0 15px;
}

section.connect .inputs input{
	margin: 8px 0;
	width: 100%;
	border-radius: 4px;
	opacity: 0.2;
	padding: 8px 20px;
	
	border: solid 1px #0d325d;
}


section.questions .question_block{
	padding: 47px;
	border-radius: 10px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
}

section.questions .item label{
	width: 100%;
}

section.questions .item label:hover{
	color:#30c6c6;
}

section.questions .item h4{
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	max-width: calc(100% - 20px);
}

section.questions .item{
/* 	margin:0px 0 30px; */
}

section.questions .item .plus{
	font-size: 20px;
	display: inline-block;
	width: 20px;
	margin-top: 8px;
	float: right;
}

section.questions .item img{
	display: inline-block;
	width: 20px;
	margin-top: 8px;
	float: right;
}

section.questions .inside{
	margin:10px 0 0;
	max-height: 1000px;
	transition: max-height 0.5s;
	overflow: hidden;
}

section.questions .collapsed{
    max-height: 0;
}


section.questions .inside span{
	
	display: block;
}

.animationDesc {
    position: absolute;
    
    
    transition: .3s;
    opacity: 0;
    width: 200px;
    font-size: 16px;
    color: #b4bbc8;
    
}

.animationDesc::before {
    content: ' ';
    
    width: 100px;
    height: 2px;
    border: 1px dashed #b4bbc8;
    display: block;
    position: absolute;
    top: 45%;
    left: 110%;
    z-index: 5;
}

.animationDesc.text-right::before {
    left: unset;
    right: 110%;
}

footer{
	background-color: #f6f8fd;
	padding-top: 24px;
}

footer span{
	display: block;
	margin: 8px 0;
}

footer .contacts span{
	font-weight: bold;
	
}

footer .contacts .social_networks a{
	margin-right: 20px;
}

footer .pages span{
	color: #b4bbc8;
	font-weight: bold;
	font-size: 16px;
}

footer .signupblock {
	text-align: right;
	}


footer .signupblock span{
	text-align: right;
	color: #3a3a3a;
	padding-bottom: 10px;
}

footer .signupblock button{
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #b4bbc8;
	padding: 10px 20px;
}

footer .signupblock input{
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #b4bbc8;
	padding: 10px 0 10px 20px ;
	margin-right: 5px;
}



@media (min-width:1019px){
	.container {
		max-width: 1020px; 
	}
}



.flex-container{
	display: flex;
	justify-content: center;
/* 	width: 100%; */
}

/*
.priority-block{
	margin: auto;
	margin-top: 20px;
	display: inline-block;
    text-align: center;
    position: relative;
}

.priority-block div{
	font-size:25px;
	display: inline-block;
}

.priority-block .priority{
	padding: 10px 25px;
	margin: 0px 15px; 
	border-radius: 6px;
    background-color: #ffffff;
}
*/

.priority-block{
	font-size:25px;
	position: relative;
/* 	display: flex; */
}

.priority-block span{
	width: 70px;
	display: inline-block;
	text-align: center;
	float: left;
	padding: 20px 0;
}

.priority-block .priority{
	width: calc(50% - 35px);
	float: left;
}

.priority-block .priority-item{
	padding: 10px 25px;
	margin: 10px 15px; 
	border-radius: 6px;
    background-color: #ffffff;
    display: inline-block;
    z-index: 10;
}

.priority-block .priority:first-child{
	text-align: right;
}

.checked{
	color: #30c6c6;
/*    transition: .1s;*/
}

.checked div:hover{
	box-shadow: rgba(97, 97, 97, 0.23) 0px 0px 20px 0px;
}

/*
button:hover{
	transition: 0.35s;
}
*/



@media (min-width: 992px) {
    .collapse {
        position: absolute;
        width: 100%;
    }

    .collapse ul {
        width: 100%;
        justify-content: center;
    }
    
}

@media (max-width: 992px) {
    
    .priority-item {
        font-size: 18px;
    }
    
    .animationDesc::before {
        display: none;
    }

    .stagesRow {
        padding: 0 !important;
    }
	.stage {
		width: 300px;
	}
    h1 {
        margin-top: 50px;
        font-size: 32px;
    }

    .hero h4 {
        margin-top: 15px;
        font-size: 18px;
    }

    .hero h4 img {
        width: 20px;
        margin-right: 10px;
    }

    .hero button {
        margin-top: 40px;
    }
    section.whatYouGet .plate {
        margin-bottom: 16px;
    }
    
    section.studyPrograms .plate {
        max-width: 270px;
    }

    section.padding {
        padding: 32px 0;
    }
    
    .hero .heropic img{
		margin-top: 42px;
	}
	footer .signupblock span{
		text-align: left;
	}
	footer .signupblock *{
		float: left;
		margin: 5px 5px 5px 0;
	}
	
	.subscribe:hover {
		border: solid 1px #b4bbc8;
		color: rgba(25, 192, 242, 0.5);
	}
	
	.nav-button {
		display: none;
	}
	
	.collapse .nav-button {
		display: block;
	}
	
	.header-goin{
		display: none;
	}
	
}

@media (max-width: 768px) {
    .stagesRow {
        padding: 0 !important;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .stagesRow {
        margin-top: 32px;
    }

    .stage {
        margin: 0;
        max-width: 300px;
        margin-bottom: 32px;
    }

    .stage:last-of-type {
        margin-bottom: 0;
    }
    
    .hero .heropic img{
		display: none;
	}
	
	section.conditions .price{
		display: block;
		margin-top: 20px;
	}
	
	
	section.values .mobile{
		display: block;
	}
	
	section.values .desktop{
		display: none;
	}
	
	.priority-block{
		font-size:20px;
	}
	
	.priority-block span{
		padding: 10px 0;
	}
	
	.priority-block .priority:first-child{
		width: 100%;
		float: left;
		text-align: center;
	}
	
	.priority-block .priority-item{
		padding: 5px 10px;
		margin: 5px 15px; 
		border-radius: 6px;
	    background-color: #ffffff;
	    display: inline-block;
	}
	
	section.connect .join {
		padding: 20px;
	}
	
	section.connect .connectInfo {
	    padding: 20px;
	}
	
	.heading h2{
		font-size: 35px;
	}
	
	section.conditions .price {
		padding: 20px;
	}	
	
	section.conditions .info{
		padding: 0 20px ;
	}
	
	section.connect .check_container div{
		width: 50%;
	}
	
	
	.modal-content-subscribe{
		margin: 0 auto !important;
		
	}
	
	.modal-content-subscribe button {
	    margin-top: 20px !important;
	}
}

}








canvas{ 
	display: block; 
	vertical-align: bottom; 
} /* ---- particles.js container ---- */ 

#particles-js{ 
	top: 0;
	left: 0;
	position:absolute; 
	z-index: -2;
	width: 100%; 
	height: 100%; 

	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
} 

/* ---- stats.js ---- */ 
.count-particles{ 
	background: #9494ce; 
	position: absolute; 
	top: 48px; 
	left: 0; 
	width: 80px; 
	color: #13E8E9; 
	font-size: .8em; 
	text-align: left; 
	text-indent: 4px; 
	line-height: 14px; 
	padding-bottom: 2px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold; 
}
 
.js-count-particles{ 
	font-size: 1.1em; 
} 

#stats, .count-particles{ 
	-webkit-user-select: none; 
	margin-top: 5px;
	margin-left: 5px; 
}
 
#stats{ 
	border-radius: 3px 3px 0 0; 
	overflow: hidden; 
} 

.count-particles{ 
	border-radius: 0 0 3px 3px; 
}


section.studyPrograms .plate button:hover{
    background-color: #30c6c6;
    box-shadow: 0 0 20px 0 rgba(125, 135, 159, 0.3);
    outline: none;
    color: #fff;
    
}

.hero button:hover{
    color: #30c6c6;
    background: #fff;
    padding: 15px 40px;
    border: solid 1.5px #30c6c6;
}

section.conditions button:hover{
	color: #30c6c6;
    background: #fff;
    padding: 15px 40px;
    border: solid 1.5px #30c6c6;
}

section.connect button:hover{
	color: #30c6c6;
    background: #fff;
    padding: 15px 40px;
    border: solid 1.5px #30c6c6;
}

.pages a{
	text-decoration: none;
}

.pages .nav-link-bot:hover{
	color: #30c6c6;
}

.contacts a, span{
	color: #3a3a3a;
	text-decoration: none;
}

footer .contacts span:hover {
	color: #30c6c6;
}


.modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-subscribe {
    background-color: #fefefe;
    left:0;
    right: 0;
    position: fixed;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #888;
/*     width: 80%; /* Could be more or less, depending on screen size */ */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fixed-top{
	z-index: 50;
}

.modal-content-subscribe .emSubs{
	margin: 8px 0;
    width: 100%;
    border-radius: 4px;
    opacity: 0.2;
    padding: 8px 20px;
    border: solid 1px #0d325d;
}
 
.modal-content-subscribe button{
	background-color: rgb(48, 198, 198);
    box-shadow: rgba(125, 135, 159, 0.3) 0px 0px 20px 0px;
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(48, 198, 198);
    border-image: initial;
    outline: none;
    padding: 15px 40px;
    margin: 15px 0px 15px;
}

.modal-content-subscribe button:hover{
	color: rgb(48, 198, 198);
    background: rgb(255, 255, 255);
    padding: 15px 40px;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(48, 198, 198);
    border-image: initial;
}

.subsMod{
	padding: 40px;
}

@media (max-width:450px){
	section.connect .check_container .ProgramCheck{
		width: 50%;
	}
}